
html {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: #fefffa;
  color: #585858;
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.2rem;
}

footer {
  background-color: #282941;
  height: 100%;
}

video.bg {
  position: absolute;
  z-index: 0;
}
video.bg.fillWidth {
  width: 100%;
}

.print-only {
  display: none;
}

.button {
  margin: 0 auto;
  background-color: #0d92ff;
  color: #fff;
  text-align: center;
  line-height: 3em;
  font-size: 18px;
  border: 2px solid white;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#play-button {
  width: 200px;
  position: absolute;
  left: 0;
  right: 0;
  top: 320px;
}

#print-button {
  margin-top: 30px;
  width: 220px;
}

.bg-video-container {
  top: 10px;
  left: 0;
  height: 100%;
  width: 100%;
  max-height: 420px;
  overflow: hidden;
  position: absolute;
}

.video-background {
  background: #fff url("/assets/img/bg.png") repeat;
  box-shadow: 0 10px 0 0 #0d92ff inset;
  padding-top: 10px;
  height: 420px;
}

.video-container {
  display: none;
  max-width: 640px;
  padding: 30px 0;
}

.embed-container { 
  position: relative; 
  padding-bottom: 56.25%; 
  height: 0; 
  overflow: 
  hidden; 
  max-width: 100%; 
  -webkit-box-shadow: 2px 2px 3px 0px rgba(196,196,196,0.5);
  -moz-box-shadow: 2px 2px 3px 0px rgba(196,196,196,0.5);
  box-shadow: 2px 2px 3px 0px rgba(196,196,196,0.5);
} 

.embed-container iframe, .embed-container object, .embed-container embed { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
}

.ingress {
  font-size: 2.0rem;
  line-height: 3.0rem;
  margin: 45px 0;
}

.center-container {
  margin: 0 auto;
}

.text-container {
  min-height: 0;
  height: 100%;
  max-width: 640px;
  padding: 0 20px 50px 20px;
}

.list-item-container {
  position: relative;
}

.list-item-left {
  width: 80px;
  position: absolute;
  top: 5px;
  left: 0;
}

.list-item-right {
  margin-left: 100px;
}

h1, h2 {
  color: #0d92ff;
}

h1 {
  font-size: 2.5rem;
  line-height: 100%;
  font-weight: 400;
}

h2 {
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: 400;
  margin: 0 20px 0 0;
}

ul.accordion p {
  font-size: 1.6rem;
  line-height: 2.2rem;
  margin-top: 14px;
}

.white-text, .white-text a  {
  color: white;
}

ul.plain {
  list-style: none;
}

ul.address {
  padding: 30px;
}

ul.accordion {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid #c2c2c2;
}

ul.accordion li {
  position: relative;
  padding: 18px 0 4px 0;
  margin: 0;
}

ul.accordion li:last-of-type {
  padding-bottom: 0;
}

@media (max-width: 720px) {
  .video-background {
    background: #fff;
  }
}

@media (max-width: 670px) {
  .ingress {
    font-size: 1.5rem;
    line-height: 2.4rem;
  }

  .ingress h1 {
    font-size: 1.9rem;
  }

  .bg-video-container {
    display: none;
  }

  .video-container {
    display: initial;
  }

  .play-button {
    display: none;
  }

  .video-background {
    height: 100%;
  }

  body {
    max-width: 100%;
    min-height: 100%;
    margin: 0;
    left: 0;
  }
}
